-- Script Date: 6/7/2024 2:39 AM  - Generated by ExportSqlCe version 3.5.1.14
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: MvcMusicStore-Completed\MvcMusicStore\App_Data\MvcMusicStore.sdf
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 217088
-- Created: 6/5/2024 3:50 AM

-- User Table information:
-- Number of tables: 7
-- Albums: 246 row(s)
-- Artists: 137 row(s)
-- Carts: 0 row(s)
-- EdmMetadata: 1 row(s)
-- Genres: 10 row(s)
-- OrderDetails: 0 row(s)
-- Orders: 0 row(s)

CREATE TABLE [Albums] (
  [AlbumId] int NOT NULL  IDENTITY (247,1)
, [GenreId] int NOT NULL
, [ArtistId] int NOT NULL
, [Title] nvarchar(160) NOT NULL
, [Price] numeric(18,2) NOT NULL
, [AlbumArtUrl] nvarchar(1024) NULL
);
GO
CREATE TABLE [Artists] (
  [ArtistId] int NOT NULL  IDENTITY (138,1)
, [Name] nvarchar(4000) NULL
);
GO
CREATE TABLE [Carts] (
  [RecordId] int NOT NULL  IDENTITY (1,1)
, [CartId] nvarchar(4000) NULL
, [AlbumId] int NOT NULL
, [Count] int NOT NULL
, [DateCreated] datetime NOT NULL
);
GO
CREATE TABLE [EdmMetadata] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [ModelHash] nvarchar(4000) NULL
);
GO
CREATE TABLE [Genres] (
  [GenreId] int NOT NULL  IDENTITY (11,1)
, [Name] nvarchar(4000) NULL
, [Description] nvarchar(4000) NULL
);
GO
CREATE TABLE [OrderDetails] (
  [OrderDetailId] int NOT NULL  IDENTITY (1,1)
, [OrderId] int NOT NULL
, [AlbumId] int NOT NULL
, [Quantity] int NOT NULL
, [UnitPrice] numeric(18,2) NOT NULL
);
GO
CREATE TABLE [Orders] (
  [OrderId] int NOT NULL  IDENTITY (1,1)
, [OrderDate] datetime NOT NULL
, [Username] nvarchar(4000) NULL
, [FirstName] nvarchar(160) NOT NULL
, [LastName] nvarchar(160) NOT NULL
, [Address] nvarchar(70) NOT NULL
, [City] nvarchar(40) NOT NULL
, [State] nvarchar(40) NOT NULL
, [PostalCode] nvarchar(10) NOT NULL
, [Country] nvarchar(40) NOT NULL
, [Phone] nvarchar(24) NOT NULL
, [Email] nvarchar(4000) NOT NULL
, [Total] numeric(18,2) NOT NULL
);
GO
SET IDENTITY_INSERT [Albums] ON;
GO
INSERT INTO [Albums] ([AlbumId],[GenreId],[ArtistId],[Title],[Price],[AlbumArtUrl]) VALUES (1,1,1,N'The Best Of Men At Work',8.99,N'/Content/Images/placeholder.gif');
GO
INSERT INTO [Albums] ([AlbumId],[GenreId],[ArtistId],[Title],[Price],[AlbumArtUrl]) VALUES (2,1,4,N'For Those About To Rock We Salute You',8.99,N'/Content/Images/placeholder.gif');
GO
INSERT INTO [Albums] ([AlbumId],[GenreId],[ArtistId],[Title],[Price],[AlbumArtUrl]) VALUES (3,1,4,N'Let There Be Rock',8.99,N'/Content/Images/placeholder.gif');
GO
SET IDENTITY_INSERT [Albums] OFF;
GO
SET IDENTITY_INSERT [Artists] ON;
GO
INSERT INTO [Artists] ([ArtistId],[Name]) VALUES (1,N'Men At Work');
GO
INSERT INTO [Artists] ([ArtistId],[Name]) VALUES (2,N'Aaron Copland & London Symphony Orchestra');
GO
INSERT INTO [Artists] ([ArtistId],[Name]) VALUES (3,N'Aaron Goldberg');
GO
SET IDENTITY_INSERT [Artists] OFF;
GO
--SET IDENTITY_INSERT [EdmMetadata] ON;
GO
--INSERT INTO [EdmMetadata] ([Id],[ModelHash]) VALUES (1,N'8F5346B589FEB55D7FEE9BA728E04B0D4CDECED86392074BDA06325219DA0958');
GO
--SET IDENTITY_INSERT [EdmMetadata] OFF;
GO
SET IDENTITY_INSERT [Genres] ON;
GO
INSERT INTO [Genres] ([GenreId],[Name],[Description]) VALUES (1,N'Rock',null);
GO
INSERT INTO [Genres] ([GenreId],[Name],[Description]) VALUES (2,N'Classical',null);
GO
INSERT INTO [Genres] ([GenreId],[Name],[Description]) VALUES (3,N'Jazz',null);
GO
SET IDENTITY_INSERT [Genres] OFF;
GO
ALTER TABLE [Albums] ADD CONSTRAINT [PK__Albums__000000000000000E] PRIMARY KEY ([AlbumId]);
GO
ALTER TABLE [Artists] ADD CONSTRAINT [PK__Artists__0000000000000024] PRIMARY KEY ([ArtistId]);
GO
ALTER TABLE [Carts] ADD CONSTRAINT [PK__Carts__0000000000000064] PRIMARY KEY ([RecordId]);
GO
ALTER TABLE [EdmMetadata] ADD CONSTRAINT [PK__EdmMetadata__000000000000006E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Genres] ADD CONSTRAINT [PK__Genres__000000000000001A] PRIMARY KEY ([GenreId]);
GO
ALTER TABLE [OrderDetails] ADD CONSTRAINT [PK__OrderDetails__0000000000000034] PRIMARY KEY ([OrderDetailId]);
GO
ALTER TABLE [Orders] ADD CONSTRAINT [PK__Orders__0000000000000054] PRIMARY KEY ([OrderId]);
GO
ALTER TABLE [Albums] ADD CONSTRAINT [Album_Artist] FOREIGN KEY ([ArtistId]) REFERENCES [Artists]([ArtistId]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [Albums] ADD CONSTRAINT [Genre_Albums] FOREIGN KEY ([GenreId]) REFERENCES [Genres]([GenreId]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [Carts] ADD CONSTRAINT [Cart_Album] FOREIGN KEY ([AlbumId]) REFERENCES [Albums]([AlbumId]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [OrderDetails] ADD CONSTRAINT [Order_OrderDetails] FOREIGN KEY ([OrderId]) REFERENCES [Orders]([OrderId]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [OrderDetails] ADD CONSTRAINT [OrderDetail_Album] FOREIGN KEY ([AlbumId]) REFERENCES [Albums]([AlbumId]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO

